        .board {
            height: 50%;
            width: 50%;
            display: inline-block;
            text-align: left;
            float: left;
            margin: 8%;
            

        }
        .card {
            height: 200px;
            width: 150px;
            background-color: #D18CFF;
            color: #FFFF00 ;
            border-radius: 10px;
            object-position: left;
            display:inline-block;
        }

    }
    .name {
        color: #ff0000 ;
    }
    
    image {

        height: 200px;
        width: 150px;
    }
    }

    span {
        color: #9932CD;
        

    }

    h1 {
        color:#5C246E;
        margin-left: 10px;
        margin-top: 20px;
        margin-right:30px;
        line-height: 30px;
        font-family: Arial;
        text-align: center;
    }

    h2 {
        color: #D18CFF;
        font-family: Arial;
        margin-left: 30px;
        margin-right: 30px;
        line-height: 30px;
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    p {
        font-family: Arial;
        margin-left: 30px;
        margin-right: 30px;
        text-align: justify;
        line-height: 30px;
    }
    }

    body {
        text-align: left;
        padding:0.8em;
    }

    div {
        float: left;
        margin: 8%;
        vertical-align: top;
    }

    nav {
        background-color: #808080 ;
        color: #ffbf00 ;


    }

    nav a {

        background-color: #E4AEFF;
        color: white;
        padding: 35px;
        display: block;
        float: left;
        text-decoration: none;

    }

    a:hover {
        background-color: #ee5f3c ;
    }
    .clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;    

    }

    footer {
        background-color: #808080  ;
        clear: both;

    }

    header, footer, p {
    text-align: center;
    }


    